PORT=5000
# Replace with your actual Postgres credentials
DB_URL=postgres://postgres:admin@localhost:5432/pinterest
JWT_SECRET=super_secret_jwt_key_12345

CLOUDINARY_NAME=dt9x2nsch
CLOUDINARY_KEY=385514431564346
CLOUDINARY_SECRET=-JzQYB1tqrBsyW4Z6hnmsff12QE